<style>
    #contact{
        font-weight: bold;
        color: azure;
    }
     .img-thumbnail{
       width:8%; 
       height: 80px;
       border: 0;

    }
    

</style>

<div class="container">
    <div class="card">
        <div class="card-header">
            CONTACT
        </div>
        <div class="card-body" style="text-align: center;">
            <h4 class="mt-5">FOLLOW ME ON SOCIAL MEDIA</h4>
            <div class="row">
                <div class="col" style="text-align: center;">
                    <a href="https://www.facebook.com/yanto.lie2/"><img class="img-thumbnail" src="/dev/statics/images/fb1.png" alt="Facebook"  /></a>
                    <a href="https://www.linkedin.com/in/yanto-yanto-286024144/"><img class="img-thumbnail" src="/dev/statics/images/linkedin1.png" alt="LinkedIn" /></a>
                    <a href="https://www.instagram.com/yantolie41/"><img class="img-thumbnail" src="/dev/statics/images/ig1.png" alt="Instagram" /></a>
                    <a  href="https://github.com/yantolie41/"> <img class="img-thumbnail" src="/dev/statics/images/github1.png" alt="Github"/></a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <h5>YANTO YANTO</h5>
                    <figure>
                        <img class="img-thumbnail" style="width:5.5%; height: 55px;" src="/dev/statics/images/email.png"/>
                        <figcaption style="font-size: 15px; font-family:'Courier New', Courier, monospace;">yantolie41@gmail.com</figcaption>
                         <img class="img-thumbnail" style="width:5.5%; height: 55px;" src="/dev/statics/images/location.png" alt="Location" />
                         <figcaption style="font-size: 15px; font-family:'Courier New', Courier, monospace;">Sydney, NSW 2000</figcaption>
                         <img class="img-thumbnail" style="width:5.5%; height: 55px;" src="/dev/statics/images/phone.png" alt="Phone" />
                         <figcaption style="font-size: 15px; font-family:'Courier New', Courier, monospace;">(+61)434474829</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>