<style>
    .btn {
    width : 20%;
    height: 50px;
    transform: translate(0, 15px);
    background-color:cadetblue; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}
</style>

<div class="container mt-5">
        <div class="card">
            <div class="card-header">
                EDUCATION
            </div>
            <div class="card-body">
                    <h5>Certificate-IV of Programming, TAFE NSW, Sydney</h5>
                    <h6>January 2017 - June 2017</h6>
                    <hr/>
                    <h5>Diploma of Software Development, TAFE NSW, Sydney</h5>
                    <h6>July 2017 - December 2017</h6>
                    <hr/>
                    <h5>Bachelor of Sccience in Information Technology, University of Technology Sydney, Sydney</h5>
                    <h6>February 2018 - July 2020</h6>
            </div>
       </div>
        <div class="col mt-5" style="text-align: right;">
            <a class="btn" href="/about">Back to About </a>
       </div>
</div>