<style>
    .btn {
    min-width : 20%;
    min-height: 50px;
    transform: translate(0, 15px);
    background-color:cadetblue; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}
.card-body h6 {
    font-style: italic;
    font-size: 18px;
}
</style>

<div class="container mt-5 mb-5">
        <div class="card">
            <div class="card-header bg-dark" style="color: white; font-family: cursive;">
               <h4> WORK EXPERIENCE</h4>
            </div>
            <div class="card-body" style="background-color:  silver;">
                    <h5>Terminal Programming and Shipping Specialist, Tyro Payments Limited, Bella Vista</h5>
                    <h6>July 2021 - Present</h6>
                    <hr/>
                    <h5>Shift Supervisor, Starbucks Coffee Australia Pty Ltd, Sydney</h5>
                    <h6>July 2021 - Present</h6>
                    <hr/>
                    <h5>Software Engineer Intern, Colakin Pty Ltd, Melbourne (Remote)</h5>
                    <h6>June 2021</h6>
                    <hr/>
                    <h5>Web Developer Intern, Pulp You Media, Sydney</h5>
                    <h6>November 2020 -  February 2021</h6>
                    <hr/>
                    <h5>Barista, Starbucks Coffee Australia Pty Ltd, Sydney</h5>
                    <h6>November 2018 - June 2021</h6>  
                    <hr/>
                    <h5>Crew Member, McDonald’s Australia Ltd, Sydney</h5>
                    <h6>February 2017 - March 2019</h6>
            </div>
       </div>
        <div class="col mt-5" style="text-align: right;">
            <a class="btn" href="/about" style="font-family: Comic Sans MS;">Back to About </a>
       </div>
</div>