<style>
    .btn {
    width : 20%;
    height: 50px;
    transform: translate(0, 15px);
    background-color:cadetblue; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}
.card-body h6 {
    font-style: italic;
    font-size: 18px;
}
</style>

<div class="container mt-5">
        <div class="card">
            <div class="card-header bg-dark" style="color: white; font-family: cursive;">
               <h4> WORK EXPERIENCE</h4>
            </div>
            <div class="card-body" style="background-color:  silver;">
                    <h5>Crew Member, McDonald's, Sydney</h5>
                    <h6>February 2017 - March 2019</h6>
                    <hr/>
                    <h5>Barista, Starbucks, Sydney</h5>
                    <h6>November 2018 - Present</h6>
                    <hr/>
                    <h5>Web Developer Intern, Pulp You Media, Sydney</h5>
                    <h6>November 2020 -  Present</h6>
            </div>
       </div>
        <div class="col mt-5" style="text-align: right;">
            <a class="btn" href="/about" style="font-family: Comic Sans MS;">Back to About </a>
       </div>
</div>