<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Yanto Yanto</title>
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <style>
            body{
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 25px;
            }
             
        </style>
    </head>
    <body>
        <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg navbar-light mb-sm-5 lb-sm-5" style="height:100px; background-color:#1C768F;">
                        <div class="container-fluid">
                        <a class="navbar-brand ml-lg-2 mb-lg-3 mt-lg-0 mb-sm-5 lb-sm-5" href="/">
                            <img class="rounded-circle mt-lg-1" src='/statics/images/img1.png' alt="logo" style="width:8%; height:95px;"/>
                            <span class="navbar-brand mb-lg-0 ml-2 h1 mb-sm-3" style="font-size: 24px;    transform: translate(0, 15px); ">Yanto Yanto<br>Information Technology Graduate </span>                        
                        </a>   
                        
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                          </button>
                                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                    <a class="nav-link" id="home" aria-current="page" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" id="about" href="/about">About</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" id="contact" href="/contact">Contact</a>
                                    </li>
                                </ul>
                        </div>
                        </div>
                    </nav> 
            <div class="row">
                   {{{body}}}
            </div>
            <div class="footer bg-dark" style="text-align:center; height:30px; color:white; position: fixed; bottom: 0; width: 98%">
                <h6 style="block-size: 20px;">Yanto Yanto - 2021</h6>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>