<style>
    h2, h3{
        font-family: "Comic Sans MS";
    }
    body, .card{
        background-color: silver;
    }

    .img-fluid{
        border-radius: 50%;
    }


</style>
<div class="container-fluid mt-5">
     <div class="row" style="width: 100%;">
         <div class="col-7">
             <div class="card" style="height:600px;">
                  <div class="card-body mt-5">
                        <h2>Hello, I'm</h2>
                        <h2><b>Yanto Yanto</b></h2>
                        <h3>Information Technology Graduate</h3>
                        <div class="col mt-3 mb-5 pb-5" style="text-align: center">
                            <a class="btn mt-5 mb-5" style="background-color:cadetblue; font-family: Comic Sans MS;">
                                See My Resume
                             </a>
                        </div>
                        <div class="col mt-2" style="text-align:center;">
                            <img class="img-thumbnail mr-4" src="/dev/statics/images/facebook.png" alt="facebook" style="width:10%; height:70px;">
                             <img class="img-thumbnail mr-4" src="/dev/statics/images/linkedin.png" alt="linkedin" style="width:10%; height:70px;">
                             <img class="img-thumbnail mr-4" src="/dev/statics/images/instagram.png" alt="instagram"style="width:10%; height:70px;">
                              <img class="img-thumbnail" src="/dev/statics/images/github.png" alt="github" style="width:10%; height:70px;">
                        </div>
                </div>
             </div>
         </div>
         <div class="col">
             <img class="img-fluid" src="/dev/statics/images/supportpic1.jpg" style="width:800%; height:600px;"/>
         </div>
     </div>
</div>
   

